*{
    margin: 0;
    padding: 0;
}

header{
    position: absolute;
    width: 100%;
    background-color: #1B426D;
    z-index: 1;
}

#logo{
    margin: 0 10% 0 10%;
}

#logo h1 {
    float: left;
}

#logo a {
    width: 275px;
    height: 46px;
    text-indent: -9999px;
    display: block;
    background: url(../img/logo.png) no-repeat;
}

nav ul li{
    float: left;
    list-style-type: none;
}

nav ul li a{
    width: 130px;
    color: #fff;
    padding: 15px 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
}

nav ul li a:hover{
    background-color: #052242;
}

.video-cover{
    padding-top: 48px;
}

video {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
}

.overlay{
    text-align: center;
}

.overlay h1{
    top: 15%;
    left: 0;
    right: 0;
    color: #fff;
    position: absolute;
    font-size: 3em;
}

.title{
    font-size: 2em;
    padding: 20px 0 20px 0;
}

.text-underline{
    text-decoration: underline solid 2px;
}

#principal{
    padding: 0 10% 0 10%;
    background-color: #cdcdcd;
    margin-top: -5px;
}

#principal .title{
    padding: 20px 0 20px 0;
}

#principal p{
    padding-bottom: 10px;
}

#principal p:last-child{
    padding-bottom: 20px;
}

#reasons{
    padding: 0 10% 0 10%;
    background-color: #b1b1b1;
}

#reasons .icon{
    display: block;
    float: left;
}

.text-bold{
    font-weight: bold;;
}

#reasons .diversification, .over-nine-thousand, .real-time, .easy, .keep-an-eye{
    padding-bottom: 25px;
}