*{
    margin: 0;
    padding: 0;
}

header{
    position: absolute;
    width: 100%;
    background-color: #1B426D;
}

#logo{
    margin: 0 10% 0 10%;
}

#logo h1 {
    float: left;
}

#logo a {
    width: 275px;
    height: 46px;
    text-indent: -9999px;
    display: block;
    background: url(../img/logo.png) no-repeat;
}

nav ul li{
    float: left;
    list-style-type: none;
}

nav ul li a{
    width: 130px;
    color: #fff;
    padding: 15px 15px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
}

nav ul li a:hover{
    background-color: #052242;
}

.video-cover{
    top: 48px;
    z-index: -1;
}

video {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
}

.overlay{
    text-align: center;
}

.overlay h1{
    top: 15%;
    left: 0;
    right: 0;
    color: #fff;
    position: absolute;
    font-size: 3em;
}

.content {
    padding: 0 10% 0 10%;
}